   
       <app-header></app-header>


       <div class="container" id="container">
       
        <div class="form-container sign-in-container">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
                <h1>Sign in</h1>
               
             
                <input name="email" type="email" ngModel required  placeholder="Email" />
                <input type="password" name="password" ngModel required  placeholder="Password" />
                <span *ngIf="error">Incorrect Email or Password</span>
                <a href="#">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                 
                </div>
            </div>
        </div>
    </div>
    

      
<app-footer></app-footer>