@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff;
  --image-color:invert(0);
  --card-color:white;
}

.dark:root {
  --image-color:invert(2);
  --app-container: #1f1d2b;
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255,255,255,.8);
  --projects-section: #1f2937;
  --link-color: rgba(255,255,255,.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255,255,255,.1);
  --star: #ffd92c;
  --light-font: rgba(255,255,255,.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover: rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
  --card-color:black;
}
.profile-btn img {
    width: 32px;
    height: 32px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
    filter:var(--image-color);
  }


button, a {
    cursor: pointer;
  }
  
  .app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--app-container);
    transition: 0.2s;
    max-width: 1800px;
  }
  .app-container button, .app-container input, .app-container optgroup, .app-container select, .app-container textarea {
    font-family: "DM Sans", sans-serif;
  }
  .app-content {
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 16px 24px 24px 0;
  }
  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    position: relative;
  }
  .app-header-left, .app-header-right {
    display: flex;
    align-items: center;
  }
  .app-header-left {
    flex-grow: 1;
  }
  .app-header-right button {
    margin-left: 10px;
  }
  .app-icon {
    width: 26px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    position: relative;
  }
  .app-icon:before, .app-icon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    left: 50%;
    transform: translatex(-50%);
  }
  .app-icon:before {
    top: -6px;
  }
  .app-icon:after {
    bottom: -6px;
  }
  .app-name {
    color: var(--main-color);
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 32px;
  }
  
  .mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-wrapper {
    border-radius: 20px;
    background-color: var(--search-area-bg);
    padding-right: 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    color: var(--light-font);
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    overflow: hidden;
  }
  .dark .search-wrapper {
    box-shadow: none;
  }
  
  .search-input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background-color: var(--search-area-bg);
    color: var(--main-color);
  }
  .search-input:placeholder {
    color: var(--main-color);
    opacity: 0.6;
  }
  
  .add-btn {
    color: #fff;
    background-color: var(--button-bg);
    padding: 0;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .notification-btn {
    color: var(--main-color);
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-btn {
    color: var(--main-color);
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-btn {
    color: var(--main-color);
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-left: 2px solid #ddd;
  }

  .profile-btn span {
    color: var(--main-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  
  button.cart-btn {
    background: none;
    color: var(--main-color);
}
  
  @media screen and (max-width: 980px) {
    .project-boxes.jsGridView .project-box-wrapper {
      width: 50%;
    }
  
    .status-number, .status-type {
      font-size: 14px;
    }
  
    .status-type:after {
      width: 4px;
      height: 4px;
    }
  
    .item-status {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 880px) {
    .messages-section {
      transform: translateX(100%);
      position: absolute;
      opacity: 0;
      top: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
    }
    .messages-section .messages-close {
      display: block;
    }
  
    .messages-btn {
      display: flex;
    }
  }
  @media screen and (max-width: 720px) {
    .app-name, .profile-btn span {
      display: none;
    }
  
    .add-btn, .notification-btn, .mode-switch,.home-btn {
      width: 20px;
      height: 20px;
    }
    .add-btn svg, .notification-btn svg, .mode-switch svg,.home-btn svg {
      width: 16px;
      height: 16px;
    }
  
    .app-header-right button {
      margin-left: 4px;
    }
  }
  @media screen and (max-width: 520px) {
    .projects-section {
      overflow: auto;
    }
  
    .project-boxes {
      overflow-y: visible;
    }
  
    .app-sidebar, .app-icon {
      display: none;
    }
  
    .app-content {
      padding: 16px 12px 24px 12px;
    }
  
    .status-number, .status-type {
      font-size: 10px;
    }
  
    .view-btn {
      width: 24px;
      height: 24px;
    }
  
    .app-header {
      padding: 16px 10px;
    }
  
    .search-input {
      max-width: 120px;
    }
  
    .project-boxes.jsGridView .project-box-wrapper {
      width: 100%;
    }
  
    .projects-section {
      padding: 24px 16px 0 16px;
    }
  
    .profile-btn img {
      width: 24px;
      height: 24px;
    }
  
    .app-header {
      padding: 10px;
    }
  
    .projects-section-header p,
  .projects-section-header .time {
      font-size: 18px;
    }
  
    .status-type {
      padding-right: 4px;
    }
    .status-type:after {
      display: none;
    }
  
    .search-input {
      font-size: 14px;
    }
  
    .messages-btn {
      top: 48px;
    }
  
    .box-content-header {
      font-size: 12px;
      line-height: 16px;
    }
  
    .box-content-subheader {
      font-size: 12px;
      line-height: 16px;
    }
  
    .project-boxes.jsListView .project-box-header > span {
      font-size: 10px;
    }
  
    .box-progress-header {
      font-size: 12px;
    }
  
    .box-progress-percentage {
      font-size: 10px;
    }
  
    .days-left {
      font-size: 8px;
      padding: 6px 6px;
      text-align: center;
    }
  
    .project-boxes.jsListView .project-box > * {
      margin-right: 10px;
    }
  
    .project-boxes.jsListView .more-wrapper {
      right: 2px;
      top: 10px;
    }
  }
  .slide img {
    height: 10vh;
    width: 100%;
    object-fit: contain;
  }
  .animate-on-hover{
  transition: transform 0.3s;
  background-size: cover;
    transition: all 0.3s;
    height: 30vh;
    width: 100%;
    object-fit: contain;
}

.animate-on-hover:hover {
  transform: scale(1.1);
}
.part-1 {
  background: var(--card-color);
    border-radius: 10px;
}
.section-products,.section-categories{
    margin:0px 30px;
}
.slide {
    background: var(--card-color);
    margin:0px 5px;
    padding:0px 5px;
    border-radius:10px;
}
.ngx-pagination {
  margin-bottom: 0rem !important;
}
.taskstyle nav {
  background: #f1f4fb;
  padding: 10px !important;
}
.ngx-pagination li{
 color:black !important;
}
