@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
  box-sizing: border-box;
}

:root {
  --app-container: #f3f6fd;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(209, 209, 209, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff;
  --image-color:invert(0);
  --card-color:white;
}

.dark:root {
  --image-color:invert(2);
  --app-container: #1f1d2b;
  --app-container: #111827;
  --main-color: #fff;
  --secondary-color: rgba(255,255,255,.8);
  --projects-section: #1f2937;
  --link-color: rgba(255,255,255,.8);
  --link-color-hover: rgba(195, 207, 244, 0.1);
  --link-color-active-bg: rgba(195, 207, 244, 0.2);
  --button-bg: #1f2937;
  --search-area-bg: #1f2937;
  --message-box-hover: #243244;
  --message-box-border: rgba(255,255,255,.1);
  --star: #ffd92c;
  --light-font: rgba(255,255,255,.8);
  --more-list-bg: #2f3142;
  --more-list-bg-hover: rgba(195, 207, 244, 0.1);
  --more-list-shadow: rgba(195, 207, 244, 0.1);
  --message-btn: rgba(195, 207, 244, 0.1);
  --card-color:black;
}
.profile-btn img {
    width: 32px;
    height: 32px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
    filter:var(--image-color);
  }


button, a {
    cursor: pointer;
  }
  
  .app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--app-container);
    transition: 0.2s;
    max-width: 1800px;
  }
  .app-container button, .app-container input, .app-container optgroup, .app-container select, .app-container textarea {
    font-family: "DM Sans", sans-serif;
  }
  .app-content {
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 16px 24px 24px 0;
  }
  .app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    position: relative;
  }
  .app-header-left, .app-header-right {
    display: flex;
    align-items: center;
  }
  .app-header-left {
    flex-grow: 1;
  }
  .app-header-right button {
    margin-left: 10px;
  }
  .app-icon {
    width: 26px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    position: relative;
  }
  .app-icon:before, .app-icon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    left: 50%;
    transform: translatex(-50%);
  }
  .app-icon:before {
    top: -6px;
  }
  .app-icon:after {
    bottom: -6px;
  }
  .app-name {
    color: var(--main-color);
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 32px;
  }
  
  .mode-switch {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-wrapper {
    border-radius: 20px;
    background-color: var(--search-area-bg);
    padding-right: 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    color: var(--light-font);
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    overflow: hidden;
  }
  .dark .search-wrapper {
    box-shadow: none;
  }
  
  .search-input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background-color: var(--search-area-bg);
    color: var(--main-color);
  }
  .search-input:placeholder {
    color: var(--main-color);
    opacity: 0.6;
  }
  
  .add-btn {
    color: #fff;
    background-color: var(--button-bg);
    padding: 0;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .notification-btn {
    color: var(--main-color);
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-btn {
    color: var(--main-color);
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cart-btn {
    color: var(--main-color);
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-btn {
    padding: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-left: 2px solid #ddd;
  }

  .profile-btn span {
    color: var(--main-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
  
  button.cart-btn {
    background: none;
    color: var(--main-color);
}
  
  @media screen and (max-width: 980px) {
    .project-boxes.jsGridView .project-box-wrapper {
      width: 50%;
    }
  
    .status-number, .status-type {
      font-size: 14px;
    }
  
    .status-type:after {
      width: 4px;
      height: 4px;
    }
  
    .item-status {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 880px) {
    .messages-section {
      transform: translateX(100%);
      position: absolute;
      opacity: 0;
      top: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
    }
    .messages-section .messages-close {
      display: block;
    }
  
    .messages-btn {
      display: flex;
    }
  }
  @media screen and (max-width: 720px) {
    .app-name, .profile-btn span {
      display: none;
    }
  
    .add-btn, .notification-btn, .mode-switch,.home-btn {
      width: 20px;
      height: 20px;
    }
    .add-btn svg, .notification-btn svg, .mode-switch svg,.home-btn svg {
      width: 16px;
      height: 16px;
    }
  
    .app-header-right button {
      margin-left: 4px;
    }
  }
  @media screen and (max-width: 520px) {
    .projects-section {
      overflow: auto;
    }
  
    .project-boxes {
      overflow-y: visible;
    }
  
    .app-sidebar, .app-icon {
      display: none;
    }
  
    .app-content {
      padding: 16px 12px 24px 12px;
    }
  
    .status-number, .status-type {
      font-size: 10px;
    }
  
    .view-btn {
      width: 24px;
      height: 24px;
    }
  
    .app-header {
      padding: 16px 10px;
    }
  
    .search-input {
      max-width: 120px;
    }
  
    .project-boxes.jsGridView .project-box-wrapper {
      width: 100%;
    }
  
    .projects-section {
      padding: 24px 16px 0 16px;
    }
  
    .profile-btn img {
      width: 24px;
      height: 24px;
    }
  
    .app-header {
      padding: 10px;
    }
  
    .projects-section-header p,
  .projects-section-header .time {
      font-size: 18px;
    }
  
    .status-type {
      padding-right: 4px;
    }
    .status-type:after {
      display: none;
    }
  
    .search-input {
      font-size: 14px;
    }
  
    .messages-btn {
      top: 48px;
    }
  
    .box-content-header {
      font-size: 12px;
      line-height: 16px;
    }
  
    .box-content-subheader {
      font-size: 12px;
      line-height: 16px;
    }
  
    .project-boxes.jsListView .project-box-header > span {
      font-size: 10px;
    }
  
    .box-progress-header {
      font-size: 12px;
    }
  
    .box-progress-percentage {
      font-size: 10px;
    }
  
    .days-left {
      font-size: 8px;
      padding: 6px 6px;
      text-align: center;
    }
  
    .project-boxes.jsListView .project-box > * {
      margin-right: 10px;
    }
  
    .project-boxes.jsListView .more-wrapper {
      right: 2px;
      top: 10px;
    }
  }
  .slide img {
    height: 10vh;
    width: 100%;
    object-fit: contain;
  }
  .animate-on-hover{
  transition: transform 0.3s;
  background-size: cover;
    transition: all 0.3s;
    height: 30vh;
    width: 100%;
    object-fit: contain;
}

.animate-on-hover:hover {
  transform: scale(1.1);
}
.part-1 {
  background: var(--card-color);
    border-radius: 10px;
}
.section-products,.section-categories{
    margin:0px 30px;
}
.slide {
    background: var(--card-color);
    margin:0px 5px;
    padding:0px 5px;
    border-radius:10px;
}
.ngx-pagination {
  margin-bottom: 0rem !important;
}
.taskstyle nav {
  background: #f1f4fb;
  padding: 10px !important;
}
.ngx-pagination li{
 color:black !important;
}
/*Myaccount css*/
.top-part .count, .top-part, .item, body {
  display: flex;
  align-items: center;
}


.myaccount ul {
  list-style-type: none;
  padding: 0;
}

.myaccount button {
  border: none;
  background: none;
  cursor: pointer;
}
.myaccount .modal{
  display: block;
}
.task-manager {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  height: 90vh;
  max-height: 900px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.011), 0 0.7px 5.3px rgba(0, 0, 0, 0.016), 0 1.3px 10px rgba(0, 0, 0, 0.02), 0 2.2px 17.9px rgba(0, 0, 0, 0.024), 0 4.2px 33.4px rgba(0, 0, 0, 0.029), 0 10px 80px rgba(0, 0, 0, 0.04);
  overflow: hidden;
}

.left-bar {
  background-color: var(--bg-color);
  border-right: 1px solid #e3e7f7;
  position: fixed;
}

.left-content {
  padding: 10px;
}

.item {
  color: var(--main-color);
  margin-bottom: 14px;
  font-weight: 500;
}
.item svg {
  width: 14px;
  height: 14px;
  color: currentcolor;
  margin-right: 10px;
}

.category-list {
  margin-top: 50px;
}
.category-list .item {
  color: var(--secondary-color);
}

.actions {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #fe4d46;
  box-shadow: 14px 0 0 0 #fbc023, 28px 0 0 0 #7dd21f;
}

.circle-2 {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #d5d7e3;
  box-shadow: -6px 0 0 0 #d5d7e3, 6px 0 0 0 #d5d7e3;
}

.right-bar {
  width: 320px;
  border-left: 1px solid #e3e7f7;
  display: flex;
  flex-direction: column;
}
.right-bar .header {
  font-size: 20px;
  color: var(--main-text-color);
  margin-left: 30px;
}

.top-part {
  padding: 30px;
  align-self: flex-end;
}
.top-part svg {
  width: 14px;
  height: 14px;
  color: var(--main-color);
  margin-right: 14px;
}
.top-part .count {
  font-size: 12px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #623ce8;
  color: #fff;
  justify-content: center;
}

.right-content {
  padding: 10px 40px;
  overflow-y: auto;
  flex: 1;
}

.task-box {
  position: relative;
  border-radius: 12px;
  width: 100%;
  margin: 20px 0;
  padding: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 0px #ebebeb;
}
.task-box:hover {
  transform: scale(1.02);
}

.time {
  margin-bottom: 6px;
  opacity: 0.4;
  font-size: 10px;
}

.task-name {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
}

.yellow {
  background-color: var(--box-color);
}

.blue {
  background-color: var(--box-color-2);
}

.red {
  background-color: var(--box-color-3);
}

.green {
  background-color: var(--box-color-4);
}

.more-button {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #8e92a4;
  box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
  opacity: 0.4;
  right: 20px;
  top: 30px;
  cursor: pointer;
}

.members {
  display: flex;
  margin-top: 14px;
}
.members img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  object-fit: cover;
}

.page-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 20px 0 20px;
}
.page-content .header {
  font-size: 26px;
  color: var(--main-color);
  margin-top: 30px;
}

.content-categories {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.nav-item {
  display: none;
}

.category {
  font-weight: 500;
  color: var(--secondary-color);
  border-bottom: 1px solid #ddd;
  transition: 0.4s ease-in;
  cursor: pointer;
}
.header {
  padding: 10px;
}
#opt-1:checked + label,
#opt-2:checked + label,
#opt-3:checked + label,
#opt-4:checked + label {
  color: var(--checkbox-color);
  border-bottom: 2px solid var(--checkbox-color);
}

.task-item {
  display: none;
}

.tasks-wrapper {
  padding: 10px 0;
  flex: 1;
  overflow-y: auto;
  height: 100%;
}

.task {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 16px;
  color: var(--task-color);
  font-size: 13px;
  font-weight: 500;
}
.task:hover {
  transform: translatex(2px);
}
.task label {
  cursor: pointer;
}

label .label-text {
  position: relative;
}

label .label-text:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  border-radius: 2px;
  left: -24px;
  transition: 0.2s ease;
}

.task-item:checked + label .label-text:before {
  background-color: var(--checkbox-color);
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: 1px solid var(--checkbox-color);
}

.tag {
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 20px;
}
.tag.approved {
  background-color: var(--tag-color-one);
  color: var(--tag-color-text-one);
}
.tag.progress {
  background-color: var(--tag-color-two);
  color: var(--tag-color-text-two);
}
.tag.review {
  background-color: var(--tag-color-three);
  color: var(--tag-color-text-three);
}
.tag.waiting {
  background-color: var(--tag-color-four);
  color: var(--tag-color-text-four);
}

.upcoming {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

@media screen and (max-width: 900px) {
  .left-bar {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .task-manager {
    flex-direction: column;
    overflow-y: auto;
  }

  .right-bar, .page-content {
    width: 100%;
    display: block;
  }

  .myaccount .tasks-wrapper {
    height: auto;
  }
}
@media screen and (max-width: 520px) {
  .myaccount .page-content {
    padding: 40px 10px 0 10px;
  }

  .right-content {
    padding: 10px 16px;
  }

  .myaccount  .category {
    padding: 20px;
  }
}
.row.task-manager {
  padding: 10px 0px;
  margin: 30px auto;
}
.status-pending {
  background-color: #ffffff;
  color: black;
  border: 2px solid #ffa10c;
  padding: 5px 10px;
  border-radius: 10px;
  text-transform: uppercase;
}
.ngx-pagination {
margin-bottom: 0rem !important;
}
.taskstyle nav {
padding: 10px !important;
}
.status-completed {
background-color: #ffffff;
color: black;
padding: 5px 10px;
border: 2px solid green;
border-radius: 10px;
text-transform: uppercase;
}
.dataTables_length {
display: none !important;
}
.card div#myTable_length {
display: none !important;
}
.row.task-manager {

overflow-y: scroll !important;
}
.modal button.close{
color: white;
background: #B2B9C5;
}
.myaccount .btn-secondary {
color: #fff;
background-color: #5c636a;
border-color: #565e64;
}
.myaccount .btn-primary {
color: #fff;
background-color: #0b5ed7;
border-color: #0a58ca;
}
#divChart{
display: block;
width: 400px;
height: 400px;
}

.modal-content .btn-secondary {
color: #fff;
background-color: #5c636a;
border-color: #565e64;
}
.analyticsview .btn-danger{
color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.myaccount .modal-content .btn-primary {
color: #fff;
background-color: #0b5ed7;
border-color: #0a58ca;
}
.myaccount .notesview .btn-primary {
color: #fff;
background-color: #0b5ed7 !important;
border-color: #0a58ca !important;
}

.myaccount .card {
width: 100%;
margin:10px 0px;
}
/* end myaccount css*/


