@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
:root {
  --dark: #333;
  --light: #fff;
  --neutral: #f6f6f6;
  --neutral-dark: #d1d1d1;
  --color: #5607d7;
  --color-light: #941ed2;
  --color-dark: #2719cd;
  --font-stack: "Josefin Sans", "Montserrat", "sans-serif";
}

body {
  display: block;
  align-items: center;
  justify-content: center;
  background: url('data:image/svg+xml,%3Csvg width="300" height="300" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.1" fill-rule="evenodd"/%3E%3C/svg%3E') fixed;
  font-family: var(--font-stack);
  height:auto;
}

.slide p{
    color: var(--main-color);
    text-align: center;
}

.hero__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__wrapper:before {
  content: "";
  width: 150px;
  height: 150px;
  background: linear-gradient(135deg, var(--color-light), var(--color-dark));
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  left: 10px;
  z-index: -1;
}
.hero__wrapper > * {
  margin: 15px;
}

.hero__header {
  flex: 0 1 1px;
  padding-right: 50px;
  color: var(--dark);
  font-size: 8vmax;
}

.hero__phone {
  width: 300px;
  height: 630px;
  background: var(--light);
  background-color: #ffffff;
  background: #fff url("https://codepenworldsfair.com/images/small-worlds-fair.png") center/250px no-repeat;
  border: 12px solid var(--dark);
  border-radius: 36px;
  position: relative;
  overflow: hidden;
}
.hero__phone:before {
  content: "";
  width: 175px;
  height: 25px;
  background: var(--dark);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1000;
}
.hero__phone:after {
  content: "";
  width: 100px;
  height: 5px;
  background: var(--dark);
  border-radius: 2px;
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1000;
}

.menu__button {
  --x: -50%;
  --y: 0;
  --z: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, var(--color-light), var(--color-dark));
  padding: 10px 20px;
  border-radius: 28px;
  box-shadow: 0 2px 40px -10px var(--color);
  color: var(--light);
  font-size: 16px;
  white-space: nowrap;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translate3d(var(--x), var(--y), var(--z));
  cursor: pointer;
  z-index: 105;
  transition: 0.15s cubic-bezier(0.33, 1, 0.53, 1);
}
.menu__button[hidden] {
  --y: 200%;
}
.menu__button div {
  display: flex;
  align-items: center;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.menu__button div div {
  display: table;
  height: 1px;
  background: var(--light);
  box-shadow: 0 4px 0 var(--light), 0 -4px 0 var(--light);
}

.menu__overlay {
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
}

.menu__body {
  --x: 0;
  --y: 0;
  --z: 0;
  display: block;
  width: 100%;
  background: var(--light);
  padding-bottom: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px -9px 50px -30px black;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 105;
  transform: translate3d(var(--x), var(--y), var(--z));
  transition: 0.2s cubic-bezier(0.33, 1, 0.53, 1);
}
.menu__body[hidden] {
  --y: 150%;
}
.menu__body > *:not(:last-child) {
  border-bottom: 2px solid var(--neutral);
}

.menu__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
.menu__header label div {
  width: 15px;
  height: 15px;
  border: 2px solid var(--dark);
  border-radius: 50%;
  position: relative;
  transform: rotate(5.5rad);
}
.menu__header label div:after {
  content: "";
  width: 2px;
  height: 10px;
  background: var(--dark);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.menu__header p {
  font-size: 18px;
  font-weight: bold;
  vertical-align: center;
  white-space: nowrap;
}
.menu__header h3 {
  font-weight: normal;
}
.menu__header button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: var(--neutral-dark);
  border-radius: 50%;
  cursor: pointer;
}
.menu__header button div {
  width: 15px;
  height: 3px;
  background: var(--light);
  position: relative;
  transform: rotate(5.5rad);
}
.menu__header button div:before {
  content: "";
  width: 3px;
  height: 15px;
  background: var(--light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu__links {
  display: flex;
  padding: 10px 15px;
  font-weight: bold;
  overflow-x: auto;
}
.menu__links a {
  flex: 1 1 1px;
  padding: 10px 8px;
  color: var(--dark);
  text-decoration: none;
  white-space: nowrap;
}

.menu__contact {
  display: flex;
  padding: 8px;
}
.menu__contact svg {
  width: 100%;
  fill: var(--color);
}
.menu__contact a {
  flex: 1 1 30%;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  background: var(--neutral);
  color: var(--color);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.content {
    margin: 10px auto;
    padding: 10px;
    display: block;
}
h2 {
    text-align: center;
    padding: 20px;
  }
  /* Slider */
  
  .slick-slide {
    margin: 0px 20px;
  }
  
  .slick-slide img {
    width: 100%;
  }
  
  .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .slick-list:focus {
    outline: none;
  }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }add-button
  .slick-track:before,
  .slick-track:after {
    display: table;
    content: "";
  }
  .slick-track:after {
    clear: both;
  }
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }
  [dir="rtl"] .slick-slide {
    float: right;
  }
  .slick-slide img {
    display: block;
    width: 100px;
    text-align: center;
    margin: 0px auto;
    
  }
  .slick-slide.slick-loading img {
    display: none;
  }
  .slick-slide.dragging img {
    pointer-events: none;
  }
  .slick-initialized .slick-slide {
    display: block;
  }
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
    display: none;
  }
 
  h3.title {
    margin: 10px;
    color: var(--main-color);
  }
.section-products .header {
	margin-bottom: 50px;
}

.section-products .header h3 {
	font-size: 1rem;
	color: #fe302f;
	font-weight: 500;
}

.section-products .header h2 {
	font-size: 2.2rem;
	font-weight: 400;
	color: #444444;
}

.section-products .single-product {
	margin-bottom: 26px;
    color: var(--main-color);
}

.section-products .single-product .part-1 {
	position: relative;
	height: auto;
	max-height: auto;
	margin-bottom: 20px;
	overflow: hidden;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
	position: absolute;
	top: 15px;
	left: 20px;
	color: #ffffff;
	background-color: #fe302f;
	padding: 2px 8px;
	text-transform: uppercase;
	font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
	left: 0;
	background-color: #444444;
}

.section-products .single-product .part-1 ul {
	position: absolute;
	bottom: -41px;
	left: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
	opacity: 0;
	transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
	bottom: 30px;
	opacity: 1;
}

.section-products .single-product .part-1 ul li {
	display: inline-block;
	margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #ffffff;
	color: #444444;
	text-align: center;
	box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
	transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
	color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
	font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
	display: inline-block;
	font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
	position: relative;
	padding: 0 7px;
	margin-right: 2px;
	opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #444444;
	transform: translateY(-50%);
}
.search-box {
    position: absolute;
    left: 5%;
    border-radius: 10px;
    top: 10px;
    width: 33%;
    height: 40px;
    padding: 8px;
    border: 1px solid black;
    transition: all 0.5s ease;
    display:none;
  }
  img.menuicon {
    width: 60px;
    margin: 0px auto;
    display: block;
    padding: 5px;
}
  .show-search {
    display:block;
  }
  .brand img {
    width: 60px;
    /* margin: 0px 56px; */
    display: block;
    /* width: 50%; */
    height: 60px;
    margin-left: 2%;
}

.brand {
    width: 100%;
    display: inline-flex;
}

.brand span {
    color: var(--main-color);
    text-align: center;
    font-size: 50px;
    line-height: 10px;
    padding: 35px 0px 0px 0px;
}

.notification-container {
    cursor: default;
    position: absolute;
    z-index: 999;
    top: 60px;
    right: 15rem;
    width: 400px;
    font-weight: 300;
    background: white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgb(0 0 0 / 20%);
    animation-name: dropPanel;
    animation-iteration-count: 1;
    animation-timing-function: all;
    animation-duration: 0.75s;
  }
  .notification-container:before {
    content: "";
    position: absolute;
    top: 1px;
    right: 0;
    width: 0;
    height: 0;
    transform: translate(-1rem, -100%);
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid white;
  }
  .notification-container h3 {
    text-transform: uppercase;
    font-size: 75%;
    font-weight: 700;
    color: #84929f;
    padding: 1.5rem 2rem;
  }
  .notification-container i {
    color: #b5c4d2;
    font-size: 140%;
    @vertical-align (50%);
    position: absolute;
  }
  .notification-container i.right {
    right: 2rem;
  }
  .notification-container i.right:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .notification-container em {
    margin-right: 0.75rem;
    font-weight: 700;
    font-size: 115%;
    color: #b5c4d2;
    vertical-align: bottom;
    display: inline-block;
  }


  .cart-container {
    cursor: default;
    position: absolute;
    z-index: 999;
    top: 60px;
    right: 18rem;
    width: 400px;
    font-weight: 300;
    background: white;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgb(0 0 0 / 20%);
    animation-name: dropPanel;
    animation-iteration-count: 1;
    animation-timing-function: all;
    animation-duration: 0.75s;
  }
  .cart-container:before {
    content: "";
    position: absolute;
    top: 1px;
    right: 0;
    width: 0;
    height: 0;
    transform: translate(-1rem, -100%);
    border-left: 0.75rem solid transparent;
    border-right: 0.75rem solid transparent;
    border-bottom: 0.75rem solid white;
  }
  .cart-container h3 {
    text-transform: uppercase;
    font-size: 75%;
    font-weight: 700;
    color: #84929f;
    padding: 1.5rem 2rem;
  }
  .cart-container i {
    color: #b5c4d2;
    font-size: 140%;
    @vertical-align (50%);
    position: absolute;
  }
  .cart-container i.right {
    right: 2rem;
  }
  .cart-container i.right:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .cart-container em {
    margin-right: 0.75rem;
    font-weight: 700;
    font-size: 115%;
    color: #b5c4d2;
    vertical-align: bottom;
    display: inline-block;
  }
  
  @keyframes dropPanel {
    0% {
      opacity: 0;
      transform: translateY(-100px) scaleY(0.5);
    }
  }
  .notification {
    box-sizing: border-box;
  }
  .notification.new {
    background: #f3f9fd;
  }
  
  input.checkbox[type=checkbox] {
    display: none;
  }
  input.checkbox[type=checkbox] + label {
    display: block;
  }
  input.checkbox[type=checkbox]:not(:checked) + label {
    transition: height 0.25s;
    height: 0;
    padding: 0;
    font-size: 0;
    border: none;
  }
  input.checkbox[type=checkbox]:not(:checked) + label * {
    display: none;
  }
  input.checkbox[type=checkbox]:checked + label {
    height:auto;
    padding: 1.125rem 4rem 0.75rem 2rem;
    font-size: 75%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .red {
    color: #f8b2a6 !important;
  }
  
  .teal {
    color: #7fa6ec;
  }
  
  .gray {
    color: rgba(255, 255, 255, 0.2);
  }
  
  .gray-bg {
    background: rgba(255, 255, 255, 0.2) !important;
  }
  
  .primary-button {
    background: cornflowerblue;
    border: 2px solid cornflowerblue;
  }
  
  .secondary-button {
    border: 2px solid #B2B9C5;
    background: none;
    color: #B2B9C5;
  }
  
  .left {
    margin-right: 0.75rem;
    float: left;
  }
  
  .right {
    margin-left: 0.75rem;
    float: right;
  }
  
  spacer {
    width: 100%;
  }
  
  button {
    float: right;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 8px 12px;
    border: 0;
    font-size: 13px;
    line-height: 13px;
    color: white;
    background: #B2B9C5;
  }
  button:hover {
    opacity: 0.9;
  }
  
  .notification-icon {
    position: relative;
    margin-right: 1em;
    border-radius: 5px;
    background: #ecf0f1;
  }
  .notification-icon i {
    margin: 0.5rem;
  }
  .notification-icon:nth-of-type(1) i {
    background: -webkit-linear-gradient(300deg, #acccea, #6495ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .notification-icon:nth-of-type(2) i {
    background: -webkit-linear-gradient(300deg, #fff9ab, #00b8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .num-count {
    position: absolute;
    user-select: none;
    cursor: default;
    font-size: 0.6rem;
    background: #e74c3c;
    width: 1.2rem;
    height: 1.2rem;
    color: #ecf0f1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -0.33rem;
    right: -0.66rem;
    box-sizing: border-box;
  }
  .cart-icon {
    position: relative;
    margin-right: 1em;
    border-radius: 5px;
    background: #ecf0f1;
  }
  .cart-icon i {
    margin: 0.5rem;
  }
  .cart-icon:nth-of-type(1) i {
    background: -webkit-linear-gradient(300deg, #acccea, #6495ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .cart-icon:nth-of-type(2) i {
    background: -webkit-linear-gradient(300deg, #fff9ab, #00b8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  main {
    display: flex;
    flex-flow: row;
    width: 90vw;
    height: 75vh;
    margin: 0 auto;
    background: white;
    border-radius: 0 0 0.5em 0.5em;
    position: relative;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  }
  
  nav {
    position: relative;
    width: 90vw;
    margin: 0 auto;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #111, #252525);
    border-radius: 0.5em 0.5em 0 0;
    box-sizing: border-box;
    padding: 0.75rem 2rem;
  }
  nav *:hover {
    cursor: pointer;
  }
  nav .first-name {
    color: white;
  }
  nav .left {
    color: white;
  }
  nav .num-count {
    animation-name: scaleCount;
    animation-iteration-count: 1;
    animation-timing-function: all;
    animation-duration: 1s;
    animation-delay: 0s;
  }
  @keyframes scaleCount {
    0% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(0.5);
    }
    80% {
      transform: scale(1.25);
    }
  }
  
  .menu {
    position: relative;
    order: 1;
    flex: 1 6 25%;
    padding: 2rem 0;
    border-radius: 0 0 0 0.5rem;
    background: #393b45;
    color: #aaa;
    text-transform: uppercase;
    font-size: 70%;
    font-weight: 700;
  }
  .menu .num-count {
    position: absolute;
    top: 70%;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
    right: 1rem;
    width: auto;
    padding: 0 0.5rem;
    border-radius: 1rem;
  }
  .menu ul.active {
    background: #4f5361;
    margin-bottom: 0.75rem;
  }
  .menu ul.active li {
    padding-left: 4rem;
  }
  .menu ul.active li.active {
    color: white;
  }
  .menu ul.active li.active:before {
    content: "•";
    color: #7fa6ec;
    left: 2rem;
    position: absolute;
    top: 65%;
    -webkit-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    transform: translateY(-65%);
    padding-left: 0.7em;
  }
  .menu ul.active li:first-child {
    padding-top: 1.5rem;
  }
  .menu ul.active li:last-child {
    padding-bottom: 1.5rem;
  }
  .menu > li {
    padding-left: 4rem !important;
  }
  .menu li {
    padding: 0.75rem 2rem;
    position: relative;
  }
  .menu li i {
    @vertical-align (50%);
    position: absolute;
    font-size: 180%;
  }
  .menu li i:not(.left) {
    right: 1.5rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .menu li i:not(.left):hover {
    cursor: pointer;
  }
  .menu li i.left {
    left: 2rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .menu li.dropdown.active {
    background: #444753;
    margin-top: 0.75rem;
    padding: 1.5rem 2rem;
    color: white;
  }
  
  .content {
    order: 2;
    flex: 1 6 75%;
  }
  
  .profile-container {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 1.25rem;
    width: 400px;
    font-weight: 300;
    background: white;
    padding: 1.125rem 0.75rem 0.75rem;
    box-sizing: border-box;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  }
  .profile-container .user-photo {
    width: 100px;
    height: 100px;
    margin: 0 0.75rem 0.75rem 0;
    border-radius: 8px;
  }
  .profile-container .user-email {
    display: block;
  }
  .profile-container i {
    color: #b5c4d2;
    font-size: 110%;
  }
  
  h1 {
    font-size: 125%;
  }
  
  hr {
    border: 0;
    clear: both;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .switch {
    position: relative;
    display: inline-block;
    margin: 0.75rem 0 0;
  }
  
  .switch > span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    font-weight: bold;
    font-size: 9px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;
  }
  
  input.check-toggle-round-flat:checked ~ .off {
    color: #98b6ec;
  }
  
  input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
  }
  
  .switch > span.on {
    left: 2px;
    color: #98b6ec;
  }
  
  .switch > span.off {
    right: 2px;
    color: #fff;
  }
  
  .check-toggle {
    display: none;
  }
  
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
  }
  
  input.check-toggle-round-flat + label {
    width: 90px;
    height: 26px;
    background: #7fa6ec;
    border-radius: 5px;
  }
  
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:after {
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background-color: white;
    border-radius: 3px;
    transition: margin 0.2s;
    cursor: default;
  }
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 41px;
  }
  .num-count {
    position: relative;
    user-select: none;
    cursor: default;
    font-size: 0.6rem;
    background: #e74c3c;
    width: 1.2rem;
    height: 1.2rem;
    color: #ecf0f1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -10px;
    right: 5px;
    box-sizing: border-box;
}